{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
      <div class="w3-container">
        <h1 class="w3-panel w3-blue"><a class="w3-lato post-title" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p class="w3-margin w3-padding">{{ post.text|linebreaksbr }}</p>
        <p class="w3-right"><b>published:</b><i> {{ post.published_date }}</i></p>
        <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
      </div>
    {% endfor %}
{% endblock content %}
