{% extends 'blog/base.html' %}

{% block content %}
    <div class="w3-container">

        <h1>{{ post.title }}</h1>
        <p class="w3-margin w3-padding">{{ post.text|linebreaksbr }}</p>

        <a class="w3-btn w3-right w3-indigo w3-margin" href="{% url 'post_remove' pk=post.pk %}"><span>Usuń</span></a>
        <a class="w3-btn w3-right w3-indigo w3-margin" href="{% url 'post_edit' pk=post.pk %}"><span>Edycja</span></a>
        {% if post.published_date %}
            <div class="w3-left">
                {{ post.published_date }}
            </div>
        {% else %}
        <a class="w3-btn w3-right w3-indigo w3-margin" href="{% url 'post_publish' pk=post.pk %}">Opublikuj</a>
        {% endif %}


    </div>
{% endblock %}
